:root {
  --mainColor: #f79f24;
}

body {
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.3;
}



/* GENERAL RULES */
a, a:hover {
  text-decoration: none;
}
img {
  max-width: 100%;
}


/* typography */
.textTitle {
  font-weight: bolder;
  font-size: 3rem;
  color: #FFF;
  margin-bottom: 30px;
}
.text1 {
  font-size: 2rem;
  font-weight: bold;
}
.text2 {
  font-size: 1.5rem;
  font-weight: bold;
}
.text3 {
  font-size: 1rem;
}
.text4 {
  font-size: 0.8rem;
}
.mainColorTXT {
  color: #f79f24;
}
.grayTXT {
  color: #808080;
}
.whiteTXT {
  color: #FFF;
}


/* customization */
.iconWrapper {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
  margin-right: 10px;
  flex-shrink: 0;
}
.iconWrapper .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}




/* End General Rules */


h2 {
  font-size: 2rem;
  font-weight: bold;
}

h4 {
  color: #f79f24;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 3px;
  word-spacing: 4px;
  margin-bottom: 8px;
}

h5 {
  font-weight: bold;
  margin-bottom: 10px;
} 




/* Start Header */
header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  background-color: #202020;
  color: #FFF;
}
.comapnyBrand:hover {
  color: #f79f24;
}
.companyInfo .iconWrapper {
  border: 2px solid #f79f24;
}
.social-icon {
  font-size: 1.3rem;
  margin-right: 5px;
  color: #808080;
}
.social-icon:hover {
  color: #f79f24;
}
/* End Header */



/* Start NavBar */
.navbar {
  padding: 0;
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 1;
  background-color: #FFF;
}
.navbar .nav-item {
  line-height: 2.8;
  font-size: 14px;
  font-weight: bold;
  padding: 0;
}
.navbar .nav-item.active {
  background-color: #f79f24;
}
.navbar .nav-item.active a.nav-link {
  color: #FFF;
}
.navbar .navbar-nav .nav-link {
  position: relative;
  padding-right: 20px;
  padding-left: 20px;
}
.nav-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  background-color: #f79f24;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.2s ease-in-out 0s;
  z-index: -1;
}
.navbar-light .navbar-nav .nav-item .nav-link:hover {
  color: #FFF;
}
.navbar-light .navbar-nav .nav-item .nav-link:hover::before {
  visibility: visible;
  transform: scaleX(1);
}
nav form {
  position: relative;
}
nav form i {
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
}
@media screen and (max-width: 766px) {
  .navbar {
    background-color: #f79f24;
  }
}
/* End NavBar */


/* Start Hero */
.heroWrap {
  height: 85vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/Azha.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: var(--mainColor);
  position: relative;
  margin-top: 35px;
}
.heroWrap .textWrapper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.heroWrap button {
  background: var(--mainColor);
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 0.5em 1em;
  color: #FFF;
  position: relative;
}
.heroWrap button:hover {
  background-color: transparent;
  color: var(--mainColor);
  border-color: var(--mainColor);
}
/* End Hero */


/* Start OurServices */
.ourServices .picWrapper {
  width: 100%;
  height: 300px;
}
.ourServices .readMore {
  font-weight: bold;
  cursor: pointer;
}
.ourServices .readMore:hover {
  color: var(--mainColor);
  text-decoration: underline;
}
/* End OurServices */


/* Start Our Mission */
.ourMission {
  background-color: #f8f9fd;
}
.ourMission .tabs {
  list-style: none;
  padding: 0;
  margin: 10px 0;
}
.ourMission .tabs li {
  padding: 10px;
  text-align: center;
  background-color: #FFF;
  color: #000;
  border-right: 1px solid white;
  cursor: pointer;
  transition: 0.2s;
  border-radius: 5px;
}
.ourMission .tabs li.active,
.ourMission .tabs li:hover {
  background-color: blue;
  color: #FFF;
}
.ourMission .content {
  background-color: #FFF;
  color: #808080;
}
.ourMission .content > div {
  padding: 10px 0;
}
.ourMission .content > div:not(:first-child) {
  display: none;
}
/* End Our Mission */


/* Start Counters */
.counters {
  background-color: #202020;
  color: #FFF;
}
.counters .counter {
  font-size: 2.5em;
  color: #f79f24;
  font-weight: bold;
}
.counters .counted {
  font-size: 14px;
  font-weight: bolder;
  letter-spacing: 1.5px;
}
/* End Counters */


/* Start Booking */
.booking {
  background-image: url("../img/bg_3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.booking .overlay {
  background-color: #f79f24;
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}
@media screen and (max-width: 766px) {
  .booking .overlay {
    width: 100%;
    opacity: 0.8;
  }
}
/* End Booking */


/* Start Blog */
.blog .blogLink {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 250px;
  display: block;
}
.blog .blogLink:hover {
  opacity: 0.8;
}
.blog .blogWrapper .personPic {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 60px;
  width: 60px;
  border-radius: 50%;
}
.blog .blogWrapper .date {
  color: #064acb;
  font-weight: bold;
}
.blog .blogWrapper .blogTitle {
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  color: #202020;
}
.blog .blogWrapper .blogTitle:hover {
  color: #f79f24;
}
.blog .firstBlog .blogLink {
  background-image: url("../img/news/1.JPG");
}
.blog .personInfoWrapper img {
  height: 70px;
  width: 70px;
}
.blog .firstBlog .personInfoWrapper .personPic {
  background-image: url("../img/xperson_2.jpg.pagespeed.ic.yyrmjBH91b.jpg");
}
.blog .secondBlog .blogLink {
  background-image: url("../img/news/2.JPG");
}
.blog .secondBlog .personInfoWrapper .personPic {
  background-image: url("../img/person_3.jpg");
}
.blog .thirdBlog .blogLink {
  background-image: url("../img/news/4.JPG");
}
.blog .thirdBlog .personInfoWrapper .personPic {
  background-image: url("../img/xperson_1.jpg.pagespeed.ic.P4pHl6glbj.jpg");
}
/* End Blog */


/* Start Pricing */
.pricing {
  background-color: #f0f0f0;
}
.pricing .priceWrapper {
  background-color: #FFF;
  border: 1px solid #f79f24;
}
.pricing .priceWrapper h2 {
  color: #064acb;
}
.pricing .priceWrapper h4 {
  font-weight: bolder;
  font-size: 1em;
}
.pricing .priceWrapper p {
  line-height: 2em;
}
.pricing .priceWrapper button {
  width: 100%;
  background-color: #064acb;
  border: 1px solid #064acb;
  padding: 1em 2em;
  border-radius: 5px;
  color: #FFF;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 2px;
}
.pricing .priceWrapper button:hover {
  transform: scale(1.08);
  transition: 0.3s;
}
/* End Pricing */


/* Start OurProjects */
.ourProjects .project {
  width: 100%;
  height: 270px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  transition: 0.5s transform;
}
.ourProjects .project:hover {
  transform: scale(1.07);
}
.ourProjects .project .wrapper {
  background-color: #064acb;
  opacity: 0;
  font-size: 2rem;
  position: relative;
  color: #FFF;
}
.ourProjects .project:hover .wrapper {
  opacity: 0.7;
}
.ourProjects .project.one {
  background-image: url("../img/sharm.jpg");
}
.ourProjects .project.two {
  background-image: url("../img/administrative.jpg");
}
.ourProjects .project.three {
  background-image: url("../img/justice.jpg");
}
.ourProjects .project.four {
  background-image: url("../img/Azha.png");
}
.ourProjects .project.five {
  background-image: url("../img/Luxo.jpg");
}
.ourProjects .project.six {
  background-image: url("../img/swan.jpg");
}
.ourProjects .project.seven {
  background-image: url("../img/premier.jpg");
}
/* Emd OurProjects */


/* Start Footer */
footer {
  background-color: #202020;
  color: #FFF;
}
footer .title {
  font-size: 20px;
  color: #f79f24;
}
footer span {
  cursor: default;
}
/* End Footer */


/* Start Contact */
.contact {
  background-color: #f8f9fd;
}
.contact .container {
  background-color: #FFF;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.contact .right {
  background-color: #f79f24;
  color: #FFF;
}
.contact .iconWrapper {
  background-color: #e891179e;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: relative;
  flex-shrink: 0;
}
.contact .iconWrapper i {
  position: absolute;
  top: 50%;
  font-size: 1.2em;
  left: 50%;
  transform: translate(-50%, -50%);
}
.contact p span {
  font-weight: bolder;
}
.form-control:focus {
  box-shadow: 0 0 0 .2rem #f79f2475;
  border-color: #f79f2475;
}


.scroll-btn i {
  position: fixed;
  bottom: -50px;
  right: 15px;
  color: #fff;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  background-color: var(--mainColor);
  text-align: center;
  font-size: 25px;
  cursor: pointer;
  transition: 1s bottom;
  z-index: 9;
}

.scroll-btn i.active-btn {
  bottom: 20px;
}
